.app {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 420px;
  height: 100%;
  background-color: white;
}

.main {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.ui-overlay {
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  z-index: 1000;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.ui-overlay * {
  pointer-events: auto;
}